* {
    padding: 0;
    margin: 0;
    /* This is to reset the dimesions to 0 so the code is easier to work with, this is because by default elements have margin on them
    and you use padding, margin 0 to remove that*/
    box-sizing: border-box; 
    font-family: "Roboto", sans-serif;
}

nav {
    height: 70px; 
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 16px;
    background-color: lightblue; 
}


header {
    background-color: pink; 
    height: calc(100vh - 70px);
    /* This is so you can have a landing page that takes up the entire screen and 
    soon as you scroll it goes to the next infomation, you minus the 70pixels 
    because we dont want to overlap the nav bar*/
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: black;
    font-size: 24px;
    font-weight: bold; 
}

.logo {
    width: 300px;
}

h1 {
    font-size: 72px;
}

.subheader {
    font-size: 36px;
    margin: 16px 0 24px 0;
}

button {
    background-color: rgb(39, 160, 160);
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 24px; 
    cursor: pointer; 
}

ul {
    display: flex; 
}

li {
    list-style-type: none;
    padding-left: 16px; 
}

#section {
    padding: 48px 0; 
}

.row {
    width: 100%; 
    max-width: 1300px;
    /* This takes the entire header and limits it to 
    1300 pixel the reasoning was to make it all smaller*/
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 0 auto;
}

#about, #discord, #contact, footer {
    padding: 48px 0;
}

/* About Section */


#about {
    background-color: lightyellow;
}

h2 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 24px;
}

.section__description {
    display: flex;
    align-items: center;
}

.about__img--wrapper {
    width: 40%;
    padding: 0 24px;
}

.section__description--wrapper {
    width: 60%;
    padding: 0 24px;
}

.section__description--para {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 24px;
}

/* Discord Section */

#discord {
    background-color: lightcyan;
}

#Clyde {
    width: 60%;
}

/* Contact Section */

#contact {
    background-color: skyblue;
    width: 100%;
}

form {  
    width: 100%;   
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

input, textarea {
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input, textarea {
    margin-bottom: 24px;
    font-size: 20px;
    padding: 6px 12px;
}

/* Footer Section */

footer {
    background-color: rgb(217, 192, 231);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo {
    max-width: 480px;
    margin-bottom: 16px;
}

.footer__links {
    margin-bottom: 32px;
}

.footer__link {
    padding: 0 16px;
}